.rtl-active {
  #bodyClick {
    right: 260px;
    left: auto;
  }
  ul li,
  ol li {
    text-align: right !important;
  }
  .c-r {
    text-align: right !important;
  }
  .form-group {
    text-align: right;
  }
  .rtl-txt-left {
    text-align: center !important;
  }
  .rtl-txt-right {
    text-align: center !important;
  }

  // rtl
  #section2,
  // #section3,
  #section5,
  #claim-process {
    direction: ltr !important;
  }
  .rtl-d {
    direction: rtl !important;
  }
  .rtl-pb {
    padding-bottom: 0 !important;
  }
  .dir-rtl {
    direction: rtl !important;
  }
  .txt-rtl {
    text-align: right !important;
  }
  // .b-p-rtl {
  //   padding: 6px 33px !important;
  // }
  .claim-details-rtl {
    text-align: right !important;
  }
  .lb-right {
    text-align: right !important;
  }
}
